.vscode/

#Virtual python environment
venv/
hw_venv/
testing_venv/
.venv/
#python cache
__pycache__/
*.py[cod]

#Os Files
.DS_Store

#models
models/
*.pth

data/
corrected_samples/
samples/processed/data/
